absl-py==1.3.0
-e git+https://github.com/NVlabs/AFNO-transformer.git@941e924ffdb34cb93897b5fd6e22e5965fdc1111#egg=afno
aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.2
arrow==1.2.3
asttokens==2.1.0
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.2
blessed==1.20.0
cachetools==5.2.0
certifi @ file:///croot/certifi_1665076670883/work/certifi
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
croniter==1.3.8
cycler==0.11.0
dateutils==0.6.12
decorator==5.1.1
deepdiff==6.2.3
dnspython==2.3.0
docopt==0.6.2
einops==0.3.0
email-validator==1.3.1
executing==1.2.0
fastapi==0.88.0
fightingcv-attention==1.0.0
filelock==3.8.0
fnet-pytorch==0.1.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
future==0.18.2
gitdb==4.0.9
GitPython==3.1.29
google-auth==2.14.1
google-auth-oauthlib==0.4.6
grpcio==1.50.0
h11==0.14.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.11.0
idna==3.4
importlib-metadata==5.0.0
inquirer==3.1.2
install==1.3.5
ipdb==0.13.4
ipython==8.6.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==1.5.2
kiwisolver==1.4.4
lightning @ https://github.com/Lightning-AI/lightning/archive/refs/heads/master.zip
lightning-cloud==0.5.22
lightning-utilities==0.6.0.post0
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
multidict==6.0.2
munch==2.5.0
numpy==1.19.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
ordered-set==4.1.0
orjson==3.8.5
packaging==21.3
pandas==1.1.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.32
protobuf==3.20.3
psutil==5.9.4
ptflops==0.6.9
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.4
Pygments==2.14.0
PyJWT==2.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.1
python-editor==1.0.4
python-multipart==0.0.5
pytorch-lightning==1.2.8
pytz==2022.6
PyYAML==6.0
readchar==4.0.3
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.3.1
rsa==4.9
sacred==0.8.2
sacremoses==0.0.53
scikit-learn==1.0
scipy==1.10.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
stack-data==0.6.1
starlette==0.22.0
starsessions==1.3.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
timm==0.6.12
tokenizers==0.13.2
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchinfo==1.7.2
torchmetrics==0.11.1
torchstat==0.0.7
torchvision==0.12.0+cu113
tqdm==4.64.1
traitlets==5.5.0
transformers @ git+https://github.com/huggingface/transformers.git@73a2ff69740123ef85343580cbfa9ee8ce5e6fd5
typing_extensions==4.4.0
ujson==5.7.0
urllib3==1.26.12
uvicorn==0.20.0
uvloop==0.17.0
# Editable install with no version control (vilt==1.0.0)
-e /home/wangmeng/vilt
watchfiles==0.18.1
wcwidth==0.2.5
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.2
wrapt==1.14.1
yarl==1.8.1
zipp==3.10.0
